body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #007BFF, #FFFFFF);
    background-size: 200% 200%;
    animation: animateGradient 10s linear infinite;
    color: white;
}

@keyframes animateGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container-sm {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
    flex: 1;
}

input, select {
    padding: 5px;
    flex: 2;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
}

button {
    display: block;
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.bmi-info {
    margin-top: 50px;
}

.bmi-info h2 {
    margin-top: 20px;
}

.bmi-info p {
    line-height: 1.6;
}
